<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Census</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Bree+Serif&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Population Census</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
           <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 text-uppercase nav-underline">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'state_list' %}">States</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'district' %}">Districts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cities' %}">Cities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'village' %}">Village</a>
                    </li>
                    <!-- <li class="nav-item">
                         <a class="nav-link" href="{% url 'search' %}">SearchByPincode</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" method="post" action="{% url 'get_location' %}">
                    {% csrf_token %}
                  <input class="form-control me-2"  name="pincode" type="text" placeholder="Enter Pincode" aria-label="Search">
                 <button class="btn btn-outline-success" type="submit">Search</button>
            </form>  -->
                </ul>
            </div>
        </div>
    </div>
    </nav>

    <div class="container mt-5">
        <!-- Information Above Table -->
        <div class="row mb-3">
            <div class="col">
                <!-- Add your information here -->
                <!-- <p>Your information goes here.</p> -->
            </div>
        </div>
     <section class="container my-5">
        <h1 class="h-primary px-5">Cities List</h1>
        <!-- State List -->
        {% if cities_list %}
        <div class="card mx-5 mb-5 mt-3">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">City Name</th>
                  <th scope="col">State Name</th>
                  <th scope="col" class="text-center">Population(Total)</th>
                  <th scope="col" class="text-center">Population(Rural)</th>
                  <th scope="col" class="text-center">Population(Urban)</th>
                </tr>
              </thead>
              <tbody> 

                {% for cities in cities_list %}
                <tr>
                  <th scope="row">{{cities.city_code}}</th>
                  <td><a href="{% url 'village_list' cities.slug %}">{{cities.name}}</a></td>
                  <td><a href="{% url 'district_list' slug=cities.state.slug %}">{{cities.state}}</a></td>
                  <td class="text-center">{{ cities.city_years.all.0.data.total_popul_persons}}</td>
                  <td class="text-center">{{ cities.city_years.all.0.rural_data.total_popul_persons}}</td>
                  <td class="text-center">{{ cities.city_years.all.0.urban_data.total_popul_persons}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <!-- Pagination -->

                <div class="pagination"> 
                    <span class="step-links">
                    {% if cities_list.has_previous %}
                        <a href="?page=1"><button type="button" class="btn btn-dark  btn-sm">&laquo; first</button></a>
                        <a href="?page={{ cities_list.previous_page_number }}"><button type="button" class="btn btn-primary  btn-sm">previous</button></a>
                    {% endif %}

                    <span class="current">
                        Page {{ cities_list.number }} of {{ cities_list.paginator.num_pages }}.
                    </span>

                    {% if cities_list.has_next %}
                        <a href="?page={{ cities_list.next_page_number }}"><button type="button" class="btn btn-primary  btn-sm">next</button></a>
                        <a href="?page={{ cities_list.paginator.num_pages }}"><button type="button" class="btn btn-dark  btn-sm">last &raquo;</button></a>
                    {% endif %}
                    </span>
                 </div>
                 <!-- Pagination End -->
          </div>
        </div>
        {% else %}
        <p>No Cities are available.</p>
        {% endif %}
      </section>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>