<!DOCTYPE html>
<html lang="en">

<head>
    {% load humanize %}
    {% load mathfilters %}
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="... <a href='#description-paragraph'>Read more</a> ...">
    <title>{{ state.name }} - Population | {{ state.name }} - District List</title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="{{ state.name }} - Population | {{ state.name }} - District List">
    <meta property="og:description" content="... <a href='#description-paragraph'>Read more</a> ...">
    <!-- <meta property="og:image" content="{{ state.image.url }}"> -->

     <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}">
    <meta property="twitter:title" content="{{ state.name }} - Population | {{ state.name }} - District List">
    <meta property="twitter:description" content="... <a href='#description-paragraph'>Read more</a> ...">
    <!-- <meta property="twitter:image" content="{{ state.image.url }}"> -->

    <!-- Favicon -->
    <!-- <link rel="icon" href="" type="image/x-icon"> -->

    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 1270px)" href="{% static 'css/phone.css' %}"> -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Bree+Serif&display=swap"
        rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
   <header class="bg-dark text-white">
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Population Census</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 text-uppercase nav-underline">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'state_list' %}">States</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'district' %}">Districts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cities' %}">Cities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'village'%}">Village</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="{% url 'search' %}">SearchByPincode</a>
              </li>
              </ul>
            <form class="d-flex" role="search" method="post" action="{% url 'get_location' %}">
                {% csrf_token %}
              <input class="form-control me-2"  name="pincode" type="text" placeholder="Enter Pincode" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </ul>
          </div>
        </div>
      </div>
      </nav>
    </div>
  </header>

      <div class="container my-5">
        <nav aria-label="breadcrumb" class="mb-3 px-3 px-md-5 mt-5 pt-5">
          <ol class="breadcrumb bg-secondary-subtle text-emphasis-secondary rounded py-2 px-2">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'state_list' %}">States</a></li>
            <li class="breadcrumb-item"><a href="{% url 'district_list' slug=state.slug %}">{{state}}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#districtList">{{state}} District List</a></li>
          </ol>
        </nav>

        <!-- Information Above Table -->
        <div class="row mb-3 px-3 px-md-5 mt-2">
          <h1 class="h1 px-3">
              {{ state.name }} - Population | District List
          </h1>
            <div class="col">
                <!-- Add your information here -->
                <!-- <p>Your information goes here.</p> -->
                <p id="description-paragraph" class="text-sm-start mb-0">
                    Here is the population data for {{state}}:
                <br>
                <br>
                    {{state}}, a region of cultural diversity and historical significance, presents a detailed demographic overview. The latest census reveals that the region accommodates {{ state.state_years.all.0.data.no_of_houshold|intcomma}} households, forming the foundation of its vibrant communities. The total population of {{ state.state_years.all.0.data.total_popul_persons|intcomma}} is distributed with {{ state.state_years.all.0.data.total_popul_males|intcomma}} males and {{ state.state_years.all.0.data.total_popul_females|intcomma}} females, depicting a balanced gender ratio.
                  <br>
                  <br>
                    Focusing on the younger population, the data showcases a total child population (0-6 age group) of {{ state.state_years.all.0.data.popul_in_agePersons|intcomma}}, comprising {{ state.state_years.all.0.data.popul_in_ageMales|intcomma}} males and {{ state.state_years.all.0.data.popul_in_ageFemales|intcomma}} females, signifying a significant segment for educational and healthcare planning.
                  <br>
                  <br>
                    The census further categorizes the population based on caste and tribe, reporting a caste population of {{ state.state_years.all.0.data.caste_popul_persons|intcomma}} and a tribe population of {{ state.state_years.all.0.data.tribe_popul_persons|intcomma}}. These demographic nuances add layers to the socio-cultural tapestry of {{state}}.
                  <br>
                  <br>
                    Education is a key aspect, and the literacy rate of {{ state.state_years.all.0.data.literates_persons|mul:100|div:state.state_years.all.0.data.total_popul_persons|floatformat:2|intcomma}} % sheds light on the educational landscape. Breaking it down, male literacy stands at {{ state.state_years.all.0.data.literates_males|mul:100|div:state.state_years.all.0.data.total_popul_males|floatformat:2|intcomma}} %, while female literacy is at {{ state.state_years.all.0.data.literates_females|mul:100|div:state.state_years.all.0.data.total_popul_females|floatformat:2|intcomma}} %. Addressing the gap in female literacy presents an opportunity for targeted interventions to enhance overall education.
                </p>
            </div>
        </div>

      <section class="mt-3 mt-md-5">
        <!-- State List -->
        {% if state %}
        <h2 class="h2 px-2 px-md-5">{{state}} Total Population Data</h2>
      <div class="card px-md-5 mb-4 mt-2 border border-0">
        <div class="table-responsive">
          <table class="table table-hover table-striped bg-body-tertiary">
            <thead class="table-secondary">
              <tr>
                <th scope="col">#</th>
                <th scope="col" class="px-3">Description</th>
                <th scope="col" class="text-center">Total</th>
                <th scope="col" class="text-center">Male</th>
                <th scope="col" class="text-center">Female</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <th>Number Of Houshold</th>
                <td class="text-center">{{ state.state_years.all.0.data.no_of_houshold|intcomma}}</td>
                <td class="text-center">--</td>
                <td class="text-center">--</td>
              </tr>
              <tr>
                <th>2</th>
                 <th>Total Populaton</th>
                 <td class="text-center">{{ state.state_years.all.0.data.total_popul_persons|intcomma|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.total_popul_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.total_popul_females|intcomma}}</td>
              </tr>
              <tr>
                <th>3</th>
                 <th>Total Child Population (0-6 Age)</th>
                 <td class="text-center">{{ state.state_years.all.0.data.popul_in_agePersons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.popul_in_ageMales|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.popul_in_ageFemales|intcomma}}</td>
              </tr>
              <tr>
                <th>4</th>
                 <th>Cast Populaton</th>
                 <td class="text-center">{{ state.state_years.all.0.data.caste_popul_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.caste_popul_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.caste_popul_females|intcomma}}</td>
              </tr>
              <tr>
                <th>5</th>
                 <th>Tribe Populaton</th>
                 <td class="text-center">{{ state.state_years.all.0.data.tribe_popul_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.tribe_popul_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.tribe_popul_females|intcomma}}</td>
              </tr>
              <tr>
                <th>6</th>
                 <th>Literacy</th>
                 <td class="text-center">{{ state.state_years.all.0.data.literates_persons|mul:100|div:state.state_years.all.0.data.total_popul_persons|floatformat:2|intcomma}} %</td>
                 <td class="text-center">{{ state.state_years.all.0.data.literates_males|mul:100|div:state.state_years.all.0.data.total_popul_males|floatformat:2|intcomma}} %</td>
                 <td class="text-center">{{ state.state_years.all.0.data.literates_females|mul:100|div:state.state_years.all.0.data.total_popul_females|floatformat:2|intcomma}} %</td>
              </tr>
              <tr>
                <th>7</th>
                 <th>Illiteracy</th>
                 <td class="text-center">{{ state.state_years.all.0.data.illiterates_persons|mul:100|div:state.state_years.all.0.data.total_popul_persons|floatformat:2|intcomma}} %</td>
                 <td class="text-center">{{ state.state_years.all.0.data.illiterates_males|mul:100|div:state.state_years.all.0.data.total_popul_males|floatformat:2|intcomma}} %</td>
                 <td class="text-center">{{ state.state_years.all.0.data.illiterates_females|mul:100|div:state.state_years.all.0.data.total_popul_females|floatformat:2|intcomma}} %</td>
              </tr>
              <tr>
                <th>8</th>
                 <th>Total Workers</th>
                 <td class="text-center">{{ state.state_years.all.0.data.total_workers_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.total_workers_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.total_workers_females|intcomma}}</td>
              </tr>
              <tr>
                <th>9</th>
                 <th>Main Workers</th>
                 <td class="text-center">{{ state.state_years.all.0.data.main_workers_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.main_workers_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.main_workers_females|intcomma}}</td>
              </tr>
              <tr>
                <th>10</th>
                 <th>Main Workers - Cultivators</th>
                 <td class="text-center">{{ state.state_years.all.0.data.workers_culti_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.workers_culti_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.workers_culti_females|intcomma}}</td>
              </tr>
              <tr>
                <th>11</th>
                 <th>Main Workers - Agricultural Labourers</th>
                 <td class="text-center">{{ state.state_years.all.0.data.main_workers_agri_labourers_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.main_workers_agri_labourers_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.main_workers_agri_labourers_females|intcomma}}</td>
              </tr>
              <tr>
                <th>12</th>
                 <th>Main Workers - Workers in Household Industries</th>
                 <td class="text-center">{{ state.state_years.all.0.data.main_workers_household_industries_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.main_workers_household_industries_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.main_workers_household_industries_females|intcomma}}</td>
              </tr>
              <tr>
                <th>13</th>
                 <th>Main Workers - Other Workers</th>
                 <td class="text-center">{{ state.state_years.all.0.data.main_workers_other_workers_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.main_workers_other_workers_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.main_workers_other_workers_females|intcomma}}</td>
              </tr>
              <tr>
                <th>14</th>
                 <th>Marginal Workers</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_females|intcomma}}</td>
              </tr>
              <tr>
                <th>15</th>
                 <th>Marginal Workers - Cultivators</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_cultivators_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_cultivators_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_cultivators_females|intcomma}}</td>
              </tr>
              <tr>
                <th>16</th>
                 <th>Marginal Workers - Agricultural Labourers</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_agri_labourers_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_agri_labourers_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_agri_labourers_females|intcomma}}</td>
              </tr>
              <tr>
                <th>17</th>
                 <th>Marginal Workers - Workers in Household Industries</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_household_industries_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_household_industries_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_household_industries_females|intcomma}}</td>
              </tr>
              <tr>
                <th>18</th>
                 <th>Marginal Workers - Other Workers</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_other_workers_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_other_workers_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_other_workers_females|intcomma}}</td>
              </tr>
              <tr>
                <th>19</th>
                 <th>Marginal Workers - Those worked for 3 months or more and less than 6 months</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_3_to_6_months_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_3_to_6_months_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_3_to_6_months_females|intcomma}}</td>
              </tr>
              <tr>
                <th>20</th>
                 <th>Marginal Workers - Cultivators - Those worked for 3 months or more and less than 6 months</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_cultivators_persons_3_to_6_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_cultivators_males_3_to_6_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_cultivators_females_3_to_6_months|intcomma}}</td>
              </tr>
              <tr>
                <th>21</th>
                 <th>Marginal Workers - Agricultural Labourers - Those worked for 3 months or more and less than 6 months</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_agri_labourers_persons_3_to_6_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_agri_labourers_males_3_to_6_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_agri_labourers_females_3_to_6_months|intcomma}}</td>
              </tr>
              <tr>
                <th>22</th>
                 <th>Marginal Workers - Workers in Household Industries - Those worked for 3 months or more and less than 6 months</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_household_industries_persons_3_to_6_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_household_industries_males_3_to_6_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_household_industries_females_3_to_6_months|intcomma}}</td>
              </tr>
              <tr>
                <th>23</th>
                 <th>Marginal Workers - Other Workers - Those worked for 3 months or more and less than 6 months</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_other_workers_males_3_to_6_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_household_industries_males_3_to_6_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_other_workers_females_3_to_6_months|intcomma}}</td>
              </tr>
              <tr>
                <th>24</th>
                 <th>Marginal Workers - Those worked for less than 3 months</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_less_than_3_months_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_less_than_3_months_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_less_than_3_months_females|intcomma}}</td>
              </tr>
              <tr>
                <th>25</th>
                 <th>Marginal Workers - Cultivators - Those worked for less than 3 months</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_cultivators_persons_less_than_3_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_cultivators_males_less_than_3_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_cultivators_females_less_than_3_months|intcomma}}</td>
              </tr>
              <tr>
                <th>26</th>
                 <th>Marginal Workers - Agricultural Labourers - Those worked for less than 3 months</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_agri_labourers_persons_less_than_3_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_agri_labourers_males_less_than_3_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_agri_labourers_females_less_than_3_months|intcomma}}</td>
              </tr>
              <tr>
                <th>27</th>
                 <th>Marginal Workers - Workers in Household Industries - Those worked for less than 3 months</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_household_industries_persons_less_than_3_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_household_industries_males_less_than_3_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_workers_household_industries_females_less_than_3_months|intcomma}}</td>
              </tr>
              <tr>
                <th>28</th>
                 <th>Marginal Workers - Other Workers - Those worked for less than 3 months</th>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_other_workers_persons_less_than_3_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_other_workers_males_less_than_3_months|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.marginal_other_workers_females_less_than_3_months|intcomma}}</td>
              </tr>
              <tr>
                <th>29</th>
                 <th>Non-Workers</th>
                 <td class="text-center">{{ state.state_years.all.0.data.non_workers_persons|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.non_workers_males|intcomma}}</td>
                 <td class="text-center">{{ state.state_years.all.0.data.non_workers_females|intcomma}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% else %}
      <p>No State Information are available.</p>
      {% endif %}
    </section>

    <!-- Information Above Table -->
        <div class="row mb-3 px-3 px-md-5 mt-2">
            <div class="col">
                <!-- Add your information here -->
                <!-- <p>Your information goes here.</p> -->
                <p class="text-sm-start mb-0">
                    Analyzing the workforce, {{state}} boasts a substantial total of {{ state.state_years.all.0.data.total_workers_persons|intcomma}} workers, encompassing {{ state.state_years.all.0.data.total_workers_males|intcomma}} males and {{ state.state_years.all.0.data.total_workers_females|intcomma}} females. Among them, {{ state.state_years.all.0.data.main_workers_persons|intcomma}} are classified as main workers, engaged in diverse occupations such as cultivation, agricultural labor, household industries, and other fields.
                <br>
                <br>
                    Marginal workers, numbering {{ state.state_years.all.0.data.marginal_workers_persons|intcomma}}, contribute significantly to the workforce dynamics. Further exploration reveals that {{ state.state_years.all.0.data.marginal_workers_3_to_6_months_persons|intcomma}} individuals have worked for 3 months or more and less than 6 months, with detailed breakdowns for cultivators, agricultural laborers, workers in household industries, and other occupations.
                <br>
                <br>
                    A noteworthy segment is the non-working population, totaling {{ state.state_years.all.0.data.non_workers_persons|intcomma}}, where {{ state.state_years.all.0.data.non_workers_males|intcomma}} are males and {{ state.state_years.all.0.data.non_workers_females|intcomma}} are females. Understanding the reasons behind this non-working segment is pivotal for effective policy formulation.
                  <br>
                  <br>
                    In essence, {{state}}'s population data reflects a tapestry of diversity, emphasizing the need for targeted initiatives in education, workforce development, and socio-economic planning to ensure comprehensive and inclusive growth.
                </p>
            </div>
        </div>

    <hr>
    <div id="districtList" class="mt-3 mt-md-5">
      <!-- District List -->
      {% if state %}
      <h3 class="h3 px-2 px-md-5">{{state}} -  District List</h3>
      <div class="card px-md-5 mb-4 mt-2 border border-0">
        <div class="table-responsive">
          <table class="table table-hover table-striped bg-body-tertiary">
            <thead class="table-secondary">
              <tr>
                <th scope="col">#</th>
                <th scope="col">District Name</th>
                <th scope="col" class="text-center">Population(Total)</th>
                <th scope="col" class="text-center">Population(Rural)</th>
                <th scope="col" class="text-center">Population(Urban)</th>
              </tr>
            </thead>
            <tbody>

              {% for district in state.district_set.all %}
              <tr>
                <th scope="row">{{district.district_code}}</th>
                <td><a href="{% url 'city_list' district.slug %}">{{ district.name }}</a></td>
                <td class="text-center">{{ district.district_years.all.0.data.total_popul_persons|intcomma}}</td>
                <td class="text-center">{{ district.district_years.all.0.rural_data.total_popul_persons|intcomma}}</td>
                <td class="text-center">{{ district.district_years.all.0.urban_data.total_popul_persons|intcomma}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% else %}
      <p>No Districts are available.</p>
      {% endif %}
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>

</html>