<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if description %}{{ description|safe }}{% endif %}">
    <title>List of states with Population(Total)|Population(Rural)|Population(Urban) - Population Census 2011</title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="List of states with Population(Total)|Population(Rural)|Population(Urban)">
    <meta property="og:description" content="{{ description|safe }}">
    <!-- <meta property="og:image" content="{{ state.image.url }}"> -->

     <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}">
    <meta property="twitter:title" content="List of states with Population(Total)|Population(Rural)|Population(Urban)">
    <meta property="twitter:description" content="{{ description|safe }}">
    <!-- <meta property="twitter:image" content="{{ state.image.url }}"> -->

    <!-- Favicon -->
    <!-- <link rel="icon" href="" type="image/x-icon"> -->

    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 1270px)" href="{% static 'css/phone.css' %}"> -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Bree+Serif&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <header class="bg-dark text-white">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top" data-bs-theme="dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Population Census</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 text-uppercase nav-underline">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'state_list' %}">States</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'district' %}">Districts</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'cities' %}">Cities</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'village'%}">Village</a>
                      </li>
                      <!-- <li class="nav-item">
                        <a class="nav-link" href="{% url 'search' %}">SearchByPincode</a>
                      </li>
                      </ul>
                    <form class="d-flex" role="search" method="post" action="{% url 'get_location' %}">
                        {% csrf_token %}
                      <input class="form-control me-2"  name="pincode" type="text" placeholder="Enter Pincode" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> -->
                    </ul>
                  </div>
                  </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container my-5">
        <nav aria-label="breadcrumb" class="mb-3 px-3 px-md-5 mt-5 pt-5">
          <ol class="breadcrumb bg-secondary-subtle text-emphasis-secondary rounded py-2 px-2">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">States of India</li>
          </ol>
        </nav>

        <!-- Information Above Table -->
        <div class="row mb-3 px-3 px-md-5 mt-2">
             <h1 class="h1 px-3">
                States Census 2011
             </h1>
            <div class="col">
                <!-- Add your information here -->
                <!-- <p>Your information goes here.</p> -->
                <p id="description-paragraph" class="text-sm-start mb-0"> 
                    The Indian Census 2011 can be referred to as the seventh census operation after Indian independence. The national census 2011 has been run on all the 28 states of the country and the seven Union Territories. There have been surveys on cities and districts as well. The data of Indian census 2011 covers all the major aspects of society like population, sex ratio and literacy percentage as well. Here is a list on census 2011 data of India.
                <br>
                <br>
                    There are presently 28 states in India. The total population of the country is 1.21 billion presently. According to the State Census 2011, the most populated state in India is Uttar Pradesh with a population of 19.96 crores. The least populated state in the country is Sikkim with a population of 60, 7688. The census of Indian states 2011 reveals that Kerala is the highest literate state in the country with 93.91% of literacy rate. Bihar is the least literate state with a literacy rate of 63.82%. The Indian census 2011 state wise shows that Kerala represents the highest sex ratio with 1084 females per 1000 males while Haryana features the lowest sex ratio in India with just 877 women per 1000 males.

                </p>
            </div>
        </div>

        <section class="mt-3 mt-md-5">
            <!-- State List -->
            <h2 class="h2 px-2 px-md-5">
                States List
            </h2>
            {% if state_list %}
            <div class="card px-md-5 mb-4 mt-2 border border-0">
                <div class="table-responsive">
                    <table class="table table-hover table-striped bg-body-tertiary">
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">States Name</th>
                                <th scope="col" class="text-center">Population (Total)</th>
                                <th scope="col" class="text-center">Population (Rural)</th>
                                <th scope="col" class="text-center">Population (Urban)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for state in state_list %}
                            <tr>
                                <th scope="row">{{ state_list.start_index|default:0|add:forloop.counter }}</th>
                                <td><a href="{% url 'district_list' slug=state.slug %}">{{ state.name }}</a></td>
                                <td class="text-center">{{ state.state_years.all.0.data.total_popul_persons }}</td>
                                <td class="text-center">{{ state.state_years.all.0.rural_data.total_popul_persons }}</td>
                                <td class="text-center">{{ state.state_years.all.0.urban_data.total_popul_persons }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <p>No State are available.</p>
            {% endif %}
        </section>
    </div>


    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>