<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Census</title>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 1270px)" href="{% static 'css/phone.css' %}"> -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Bree+Serif&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/census/">Home</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="">States</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/census/districts/">Districts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/census/cities/">Cities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/census/villages">Village</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'search' %}">SearchByPincode</a>
              </li>
              </ul>
            <form class="d-flex" role="search" method="post" action="{% url 'get_location' %}">
                {% csrf_token %}
              <input class="form-control me-2"  name="pincode" type="text" placeholder="Enter Pincode" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>

    <section>
        <div class="card me-3">
            <div class="table-responsive">
                <h1 class="h-primary d-flex justify-content-center">Welcome</h1>
                    <!-- State List -->
                    {% if state_list %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">District Name</th>
                            </tr>
                            </thead>
                            <tbody> 

                               {% for state in state_list %}
                            <tr>
                                <th scope="row">{{state.id}}</th>
                                <td><a href="/census/states/{{ state.id }}/">{{ state.name }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>No State are available.</p>
                    {% endif %}
            </div>
        </div>
    </section>
</body>

</html>