<!DOCTYPE html>
<html lang="en">

<head>
    {% load mathfilters %}
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Census</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Bree+Serif&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/census/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/census/states/">States</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/census/districts/">Districts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/census/cities/">Cities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/census/villages/">Village</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search' %}">SearchByPincode</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" method="post" action="{% url 'get_location' %}">
                    {% csrf_token %}
                    <input class="form-control me-2"  name="pincode" type="text" placeholder="Enter Pincode" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <!-- Information Above Table -->
        <div class="row mb-3">
            <div class="col">
                <!-- Add your information here -->
                <p>Your information goes here.</p>
            </div>
        </div>

        <section class="container mt-5">
          <!-- State List -->
          {% if village %}
          <h1 class="px-5">{{village.name}} Total Population Data</h1>
          <div class="card mx-5 mb-5 mt-3">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Description</th>
                    <th scope="col">Total</th>
                    <th scope="col">Male</th>
                    <th scope="col">Female</th>
                  </tr>
                </thead>
                <tbody> 
                  <tr>
                    <th>1</th>
                    <th>Number Of Houshold</th>
                    <td>{{ village.rural_data.no_of_houshold}}</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>2</th>
                     <th>Total Populaton</th>
                     <td>{{ village.rural_data.total_popul_persons}}</td>
                     <td>{{ village.rural_data.total_popul_males}}</td>
                     <td>{{ village.rural_data.total_popul_females}}</td>
                  </tr>
                  <tr>
                    <th>3</th>
                     <th>Population in age gourp 0-6 years</th>
                     <td>{{ village.rural_data.popul_in_agePersons}}</td>
                     <td>{{ village.rural_data.popul_in_ageMales}}</td>
                     <td>{{ village.rural_data.popul_in_ageFemales}}</td>
                  </tr>
                  <tr>
                    <th>4</th>
                     <th>Cast Populaton</th>
                     <td>{{ village.rural_data.caste_popul_persons}}</td>
                     <td>{{ village.rural_data.caste_popul_males}}</td>
                     <td>{{ village.rural_data.caste_popul_females}}</td>
                  </tr>
                  <tr>
                    <th>5</th>
                     <th>Tribe Populaton</th>
                     <td>{{ village.rural_data.tribe_popul_persons}}</td>
                     <td>{{ village.rural_data.tribe_popul_males}}</td>
                     <td>{{ village.rural_data.tribe_popul_females}}</td>
                  </tr>
                  <tr>
                    <th>6</th>
                     <th>Literacy</th>
                     <td>{% if village.rural_data.total_popul_persons %}
                      {{ village.rural_data.literates_persons|mul:100|div:village.rural_data.total_popul_persons|floatformat:2 }} %
                      {% else %}
                      -
                      {% endif %}
                </td>
                     <td>{% if village.rural_data.total_popul_males %}{{ village.rural_data.literates_males|mul:100|div:village.rural_data.total_popul_males|floatformat:2}} %
                       {% else %}
                        -
                        {% endif %}
                     </td>
                     <td>{% if village.rural_data.total_popul_females %}{{ village.rural_data.literates_females|mul:100|div:village.rural_data.total_popul_females|floatformat:2}} %{% else %}-{% endif %}</td>
                  </tr>
                  <tr>
                    <th>7</th>
                     <th>Illiteracy</th>
                     <td>{% if village.rural_data.total_popul_persons %}{{ village.rural_data.illiterates_persons|mul:100|div:village.rural_data.total_popul_persons|floatformat:2}} %{% else %}-{% endif %}</td>
                     <td>{% if village.rural_data.total_popul_males %}{{ village.rural_data.illiterates_males|mul:100|div:village.rural_data.total_popul_males|floatformat:2}} %{% else %}-{% endif %}</td>
                     <td>{% if village.rural_data.total_popul_females %}{{ village.rural_data.illiterates_females|mul:100|div:village.rural_data.total_popul_females|floatformat:2}} %{% else %}-{% endif %}</td>
                  </tr>
                  <tr>
                    <th>8</th>
                     <th>Total Workers</th>
                     <td>{{ village.rural_data.total_workers_persons}}</td>
                     <td>{{ village.rural_data.total_workers_males}}</td>
                     <td>{{ village.rural_data.total_workers_females}}</td>
                  </tr>
                  <tr>
                    <th>9</th>
                     <th>Main Workers</th>
                     <td>{{ village.rural_data.main_workers_persons}}</td>
                     <td>{{ village.rural_data.main_workers_males}}</td>
                     <td>{{ village.rural_data.main_workers_females}}</td>
                  </tr>
                  <tr>
                    <th>10</th>
                     <th>Main Workers - Cultivators</th>
                     <td>{{ village.rural_data.workers_culti_persons}}</td>
                     <td>{{ village.rural_data.workers_culti_males}}</td>
                     <td>{{ village.rural_data.workers_culti_females}}</td>
                  </tr>
                  <tr>
                    <th>11</th>
                     <th>Main Workers - Agricultural Labourers</th>
                     <td>{{ village.rural_data.main_workers_agri_labourers_persons}}</td>
                     <td>{{ village.rural_data.main_workers_agri_labourers_males}}</td>
                     <td>{{ village.rural_data.main_workers_agri_labourers_females}}</td>
                  </tr>
                  <tr>
                    <th>12</th>
                     <th>Main Workers - Workers in Household Industries</th>
                     <td>{{ village.rural_data.main_workers_household_industries_persons}}</td>
                     <td>{{ village.rural_data.main_workers_household_industries_males}}</td>
                     <td>{{ village.rural_data.main_workers_household_industries_females}}</td>
                  </tr>
                  <tr>
                    <th>13</th>
                     <th>Main Workers - Other Workers</th>
                     <td>{{ village.rural_data.main_workers_other_workers_persons}}</td>
                     <td>{{ village.rural_data.main_workers_other_workers_males}}</td>
                     <td>{{ village.rural_data.main_workers_other_workers_females}}</td>
                  </tr>
                  <tr>
                    <th>14</th>
                     <th>Marginal Workers</th>
                     <td>{{ village.rural_data.marginal_workers_persons}}</td>
                     <td>{{ village.rural_data.marginal_workers_males}}</td>
                     <td>{{ village.rural_data.marginal_workers_females}}</td>
                  </tr>
                  <tr>
                    <th>15</th>
                     <th>Marginal Workers - Cultivators</th>
                     <td>{{ village.rural_data.marginal_cultivators_persons}}</td>
                     <td>{{ village.rural_data.marginal_cultivators_males}}</td>
                     <td>{{ village.rural_data.marginal_cultivators_females}}</td>
                  </tr>
                  <tr>
                    <th>16</th>
                     <th>Marginal Workers - Agricultural Labourers</th>
                     <td>{{ village.rural_data.marginal_agri_labourers_persons}}</td>
                     <td>{{ village.rural_data.marginal_agri_labourers_males}}</td>
                     <td>{{ village.rural_data.marginal_agri_labourers_females}}</td>
                  </tr>
                  <tr>
                    <th>17</th>
                     <th>Marginal Workers - Workers in Household Industries</th>
                     <td>{{ village.rural_data.marginal_workers_household_industries_persons}}</td>
                     <td>{{ village.rural_data.marginal_workers_household_industries_males}}</td>
                     <td>{{ village.rural_data.marginal_workers_household_industries_females}}</td>
                  </tr>
                  <tr>
                    <th>18</th>
                     <th>Marginal Workers - Other Workers</th>
                     <td>{{ village.rural_data.marginal_workers_other_workers_persons}}</td>
                     <td>{{ village.rural_data.marginal_workers_other_workers_males}}</td>
                     <td>{{ village.rural_data.marginal_workers_other_workers_females}}</td>
                  </tr>
                  <tr>
                    <th>19</th>
                     <th>Marginal Workers - Those worked for 3 months or more and less than 6 months</th>
                     <td>{{ village.rural_data.marginal_workers_3_to_6_months_persons}}</td>
                     <td>{{ village.rural_data.marginal_workers_3_to_6_months_males}}</td>
                     <td>{{ village.rural_data.marginal_workers_3_to_6_months_females}}</td>
                  </tr>
                  <tr>
                    <th>20</th>
                     <th>Marginal Workers - Cultivators - Those worked for 3 months or more and less than 6 months</th>
                     <td>{{ village.rural_data.marginal_cultivators_persons_3_to_6_months}}</td>
                     <td>{{ village.rural_data.marginal_cultivators_males_3_to_6_months}}</td>
                     <td>{{ village.rural_data.marginal_cultivators_females_3_to_6_months}}</td>
                  </tr>
                  <tr>
                    <th>21</th>
                     <th>Marginal Workers - Agricultural Labourers - Those worked for 3 months or more and less than 6 months</th>
                     <td>{{ village.rural_data.marginal_agri_labourers_persons_3_to_6_months}}</td>
                     <td>{{ village.rural_data.marginal_agri_labourers_males_3_to_6_months}}</td>
                     <td>{{ village.rural_data.marginal_agri_labourers_females_3_to_6_months}}</td>
                  </tr>
                  <tr>
                    <th>22</th>
                     <th>Marginal Workers - Workers in Household Industries - Those worked for 3 months or more and less than 6 months</th>
                     <td>{{ village.rural_data.marginal_workers_household_industries_persons_3_to_6_months}}</td>
                     <td>{{ village.rural_data.marginal_workers_household_industries_males_3_to_6_months}}</td>
                     <td>{{ village.rural_data.marginal_workers_household_industries_females_3_to_6_months}}</td>
                  </tr>
                  <tr>
                    <th>23</th>
                     <th>Marginal Workers - Other Workers - Those worked for 3 months or more and less than 6 months</th>
                     <td>{{ village.rural_data.marginal_other_workers_males_3_to_6_months}}</td>
                     <td>{{ village.rural_data.marginal_workers_household_industries_males_3_to_6_months}}</td>
                     <td>{{ village.rural_data.marginal_other_workers_females_3_to_6_months}}</td>
                  </tr>
                  <tr>
                    <th>24</th>
                     <th>Marginal Workers - Those worked for less than 3 months</th>
                     <td>{{ village.rural_data.marginal_workers_less_than_3_months_persons}}</td>
                     <td>{{ village.rural_data.marginal_workers_less_than_3_months_males}}</td>
                     <td>{{ village.rural_data.marginal_workers_less_than_3_months_females}}</td>
                  </tr>
                  <tr>
                    <th>25</th>
                     <th>Marginal Workers - Cultivators - Those worked for less than 3 months</th>
                     <td>{{ village.rural_data.marginal_cultivators_persons_less_than_3_months}}</td>
                     <td>{{ village.rural_data.marginal_cultivators_males_less_than_3_months}}</td>
                     <td>{{ village.rural_data.marginal_cultivators_females_less_than_3_months}}</td>
                  </tr>
                  <tr>
                    <th>26</th>
                     <th>Marginal Workers - Agricultural Labourers - Those worked for less than 3 months</th>
                     <td>{{ village.rural_data.marginal_agri_labourers_persons_less_than_3_months}}</td>
                     <td>{{ village.rural_data.marginal_agri_labourers_males_less_than_3_months}}</td>
                     <td>{{ village.rural_data.marginal_agri_labourers_females_less_than_3_months}}</td>
                  </tr>
                  <tr>
                    <th>27</th>
                     <th>Marginal Workers - Workers in Household Industries - Those worked for less than 3 months</th>
                     <td>{{ village.rural_data.marginal_workers_household_industries_persons_less_than_3_months}}</td>
                     <td>{{ village.rural_data.marginal_workers_household_industries_males_less_than_3_months}}</td>
                     <td>{{ village.rural_data.marginal_workers_household_industries_females_less_than_3_months}}</td>
                  </tr>
                  <tr>
                    <th>28</th>
                     <th>Marginal Workers - Other Workers - Those worked for less than 3 months</th>
                     <td>{{ village.rural_data.marginal_other_workers_persons_less_than_3_months}}</td>
                     <td>{{ village.rural_data.marginal_other_workers_males_less_than_3_months}}</td>
                     <td>{{ village.rural_data.marginal_other_workers_females_less_than_3_months}}</td>
                  </tr>
                  <tr>
                    <th>29</th>
                     <th>Non-Workers</th>
                     <td>{{ village.rural_data.non_workers_persons}}</td>
                     <td>{{ village.rural_data.non_workers_males}}</td>
                     <td>{{ village.rural_data.non_workers_females}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          {% else %}
          <p>No Village Information are available.</p>
          {% endif %}
        </section>

        <div class="container mt-5">
           <!-- State List -->
           {% if village %}
           <h2 class="px-5">**{{village.name}}**</h2>
            <div class="card mx-5 mb-5 mt-3">
                <div class="table-responsive">
                   
                    <table class="table table-hover">
                        <thead>
                         <tr>
                            <th scope="col">#</th>
                            <th scope="col">Village Name</th>
                            <th scope="col">Pincode</th>
                            <th scope="col">Village Type</th>
                            <th scope="col">Delivery Status</th>
                            <th scope="col">Division Name</th>
                            <th scope="col">Region Name</th>
                            <th scope="col">Circle Name</th>
                            <th scope="col">Telephone</th>
                            <th scope="col">RelatedSubOffice</th>
                            <th scope="col">RelatedHeadOffice</th>
                         </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">{{village.id}}</th>
                            <td>{{ village.name }}</td>
                            <td><a href="/{{village.pincode}}">{{ village.pincode }}</a></td>
                            <td>{{village.villageType}}</td>
                            <td>{{village.deliveryStatus}}</td>
                            <td>{{village.divisionName}}</td>
                            <td>{{village.regionName}}</td>
                            <td>{{village.circleName}}</td>
                            <td>{{village.telephone}}</td>
                            <td>{{village.relatedSuboffice}}</td>
                            <td>{{village.relatedHeadoffice}}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
             </div>
             {% else %}
             <p>No Information are available.</p>
             {% endif %}
        </div>
  </div>
</body>

</html>